* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

header {
  background-image: url("./images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header-content,
main {
  padding: 2rem 1.5rem;
}

.header-content {
  position: relative;
  height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.menu-logo {
  z-index: 10;
}

.menu-btn {
  background: none;
  border: none;
  z-index: 10;
}

.header-title {
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 3rem);
  padding: 1.2rem;
  color: #fff;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  word-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

li {
  list-style: none;
}

.mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-nav a {
  margin: 0 0 1rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0, 0%, 41%);
  display: block;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.desktop-nav {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.desktop-img {
  display: none;
}

.vr-section img {
  width: 100%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.vr-section p {
  color: hsl(0, 0%, 55%);
  text-align: center;
}

.vr-section-texts {
  width: 80%;
}

.creations-header {
  margin-bottom: 2rem;
}

.creations-header h2 {
  margin-bottom: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  padding: 1.25rem;
  width: 100%;
  height: 15vh;
  max-height: 140px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  align-items: flex-end;
  background-size: cover;
}

.card p {
  width: 50%;
}

.more-btn {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  background: #fff;
  border: 1px solid hsl(0, 0%, 0%);
  font-family: "Alata", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}

.more-btn:hover {
  background: hsl(0, 0%, 0%);
  color: #fff;
  transition: 1s ease;
}

footer {
  background-color: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 2rem;
}

.footer-column-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-column-one ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-column-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-column-two p {
  color: hsl(0, 0%, 41%);
  margin-bottom: 1rem;
}

.social-medias {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.social-logo {
  height: 100%;
}

.footer-link::after {
  content: "";
  display: block;
  width: 20px;
  border-bottom: 2px solid black;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.footer-link:hover::after {
  border-bottom: 2px solid #fff;
}

#earth {
  background-image: url(./images/mobile/image-deep-earth.jpg);
}

#arcade {
  background-image: url(./images/mobile/image-night-arcade.jpg);
}

#soccer {
  background-image: url(./images/mobile/image-soccer-team.jpg);
}

#grid {
  background-image: url(./images/mobile/image-grid.jpg);
}

#above {
  background-image: url(./images/mobile/image-from-above.jpg);
}

#borealis {
  background-image: url(./images/mobile/image-pocket-borealis.jpg);
}

#curiosity {
  background-image: url(./images/mobile/image-curiosity.jpg);
}

#fisheye {
  background-image: url(./images/mobile/image-fisheye.jpg);
}

@media (min-width: 750px) {
  .header-content,
  main,
  footer {
    padding: 2rem 5rem;
  }

  .header-title {
    width: 50vw;
  }

  h1 {
    font-size: 3rem;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .vr-section {
    flex-direction: row;
    gap: 1rem;
  }

  .vr-section img {
    height: 100%;
    margin-bottom: 0;
    width: 50%;
  }

  .vr-section-texts {
    width: auto;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 2rem;
    grid-template-areas:
      "earth arcade soccer grid"
      "above borealis curiosity fisheye";
  }

  .card {
    height: 40vh;
    max-height: 500px;
  }

  .card p {
    width: 100%;
  }

  .creations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-column-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .footer-column-one ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-column-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  #earth {
    background-image: url(./images/desktop/image-deep-earth.jpg);
  }

  #arcade {
    background-image: url(./images/desktop/image-night-arcade.jpg);
  }

  #soccer {
    background-image: url(./images/desktop/image-soccer-team.jpg);
  }

  #grid {
    background-image: url(./images/desktop/image-grid.jpg);
  }

  #above {
    background-image: url(./images/desktop/image-from-above.jpg);
  }

  #borealis {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
  }

  #curiosity {
    background-image: url(./images/desktop/image-curiosity.jpg);
  }

  #fisheye {
    background-image: url(./images/desktop/image-fisheye.jpg);
  }
}

@media (min-width: 1200px) {
  .header-content,
  main {
    padding: 4rem 10rem;
  }

  header {
    background-image: url("./images/desktop/image-hero.jpg");
  }

  .menu-btn {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
    display: flex;
    gap: 2rem;
  }

  .desktop-nav a:hover::after {
    content: "";
    display: block;
    width: 20px;
    border-bottom: 2px solid;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  .header-title {
    width: 40vw;
    max-width: 600px;
    overflow-wrap: normal;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  br {
    display: none;
  }

  .vr-section {
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    gap: 0;
  }

  .vr-section-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    position: relative;
    width: 50vw;
    background-color: #fff;
    left: -100px;
    top: 100px;
  }

  h2 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .vr-section p {
    color: hsl(0, 0%, 55%);
    text-align: left;
  }

  .vr-section img {
    width: 80%;
  }

  .creations-section {
    margin-top: 7rem;
  }

  .card p {
    width: 60%;
    font-size: 2rem;
  }
}
