* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

header {
  background-image: url("./images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header-content,
main {
  padding: 2rem 1.5rem;
}

.header-content {
  position: relative;
  height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.menu-logo {
  z-index: 10;
}

.menu-btn {
  background: none;
  border: none;
  z-index: 10;
}

.header-title {
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 3rem);
  padding: 1.2rem;
  color: #fff;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  word-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

li {
  list-style: none;
}

.mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-nav a {
  margin: 0 0 1rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0, 0%, 41%);
  display: block;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.desktop-nav {
  display: none;
}

.vr-section {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-img {
  display: none;
}

.vr-section img {
  width: 100%;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.vr-section p {
  color: hsl(0, 0%, 55%);
  text-align: center;
}

.vr-section-texts {
  width: 80%;
}

@media (min-width: 750px) {
  .header-content,
  main {
    padding: 2rem 5rem;
  }

  .header-title {
    width: 50vw;
  }

  h1 {
    font-size: 3rem;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-content,
  main {
    padding: 4rem 10rem;
  }

  header {
    background-image: url("./images/desktop/image-hero.jpg");
  }

  .menu-btn {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .desktop-nav ul {
    display: flex;
    gap: 2rem;
  }

  .desktop-nav a:hover::after {
    content: "";
    display: block;
    width: 20px;
    border-bottom: 2px solid;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  .header-title {
    width: 40vw;
    max-width: 600px;
    overflow-wrap: normal;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  br {
    display: none;
  }

  .vr-section {
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
  }

  .vr-section img {
    height: 100%;
    margin-bottom: 0;
    width: auto;
  }

  .vr-section-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    position: relative;
    width: 50vw;
    background-color: #fff;
    left: -100px;
    top: 100px;
  }

  h2 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .vr-section p {
    color: hsl(0, 0%, 55%);
    text-align: left;
  }
}
