* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

header {
  background-image: url("./images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header-content {
  padding: 2rem 1rem;
  position: relative;
  height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.menu-logo {
  z-index: 10;
}

.menu-btn {
  background: none;
  border: none;
  z-index: 10;
}

.header-title {
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 2rem);
  padding: 1.2rem;
  color: #fff;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

li {
  list-style: none;
}

.mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-nav a {
  margin: 0 0 1rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0, 0%, 41%);
  display: block;
  transition: 0.3s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
